/* Elements */

:root {
    --primary-color: #393939;
    --secondary-color: #FFF;
    --highlight-color-blue: #5BACC3;
    --highlight-color-pink: #FFF0ED;
    --neutral-color-light-gray: #F7F7F7;
    --neutral-color-gray: #909090;

    --max-width: 2037px;
}

h1, 
h2 {
    font-size: 60px;
    font-weight: 300;
    margin: 0;
}

h3 {
    font-size: 33px;
    font-weight: 300;
}

p {
    font-size: 18px;
    font-weight: 400;
}

body {
    font-family: 'Open Sans';
    font-weight: 400;
    background-color: var(--primary-color);
}

.wrapper {
    background-color: var(--secondary-color);
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.bold-text {
    font-weight: 700;
}

/* header */

.heading {
    background-color: var(--highlight-color-pink);
    padding: 1rem 0;
}

.heading__logo {
    width: 3rem;
    display: inline-block;
}

.heading__title {
    color: var(--primary-color);
    display: inline-block;
    margin: 0;
}

/* nav */

.nav {
    display: inline-block;
}

.nav__list {
    list-style-type: none;
    display: flex; 
    padding: 0;
    margin: 0;
}

.nav__list-item {
    padding: 0;
    margin-left: 1.6rem;
}

.nav__link {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 400;
    font-size: 1.5rem;
}

.nav__link--selected {
    color: var(--highlight-color-blue);
}

/* Button */

.button {
    background-color: var(--highlight-color-blue);
    color: var(--secondary-color);
    padding: 0.625rem;
    border: none;
    /* font-size: 21px; */
    font-size: 1.4rem;
    font-weight: 400;
    width: 11.25rem;
}