/* Elements */

:root {
    --primary-color: #393939;
    --secondary-color: #FFF;
    --highlight-color-blue: #5BACC3;
    --highlight-color-pink: #FFF0ED;
    --neutral-color-light-gray: #F7F7F7;

    --max-width: 2037px;
}

h1, 
h2 {
    font-size: 60px;
    font-weight: 300;
}

h3 {
    font-size: 33px;
    font-weight: 300;
}

p {
    font-size: 18px;
    font-weight: 400;
}

body {
    font-family: 'Open Sans';
    font-weight: 400;
    background-color: var(--primary-color);
}

.wrapper {
    background-color: var(--secondary-color);
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.bold-text {
    font-weight: 700;
}
