/* Hero */

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--highlight-color-pink);
    width: 100%;
    height: auto;
    padding: 1.5rem 0;
}

.hero__call-to-action {
    width: 30%;
    height: fit-content;
}

.hero__image {
    /* width: 35%;
    max-width: 19rem;
    min-width: 10rem; */
    height: 90%;
}

/* Products section */
.product {
    background-color: var(--neutral-color-light-gray);
    text-align: center;
    padding: 1.5rem 0;
}

.product__card-wall {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product__card {
    min-width: 20.6rem;
    min-height: 27.5rem;
    margin: 1.2rem;
    border-radius: 0.6rem;
    box-shadow: 0 0.3rem 0.6rem -0.063rem rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    background-color: var(--secondary-color);
}

.product__img {
    /* height: 280px; */
    min-height: 17.5rem;
    margin: auto;
}

.product__details {
    background-color: var(--highlight-color-pink);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    flex-direction: column;
    height: 30%;
}

.product__name {
    margin-top: auto;
    margin-bottom: 0rem;
    margin-left: 1.25rem;
    text-align: start;
}

.product__price {
    color: var(--highlight-color-blue);
    font-weight: 700;
    height: 100%;
    align-content: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1.25rem;
}

.product__discretion {
    color: var(--neutral-color-gray);
    width: auto;
    text-align: start;
    margin-top: 0rem;
    margin-bottom: auto;
    margin-left: 1.25rem;
}

.about-use {
    background-color: gold;
    display: flex;
}

.about-use__logo {
    width: 3rem;
}

.about-us__image-container {
    background-image: url(../assets/images/coldbrewbackground.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.about-use__img {
    height: 50%;
}

.discount {
    width: 90vw;
    max-width: var(--max-width);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin: 10rem auto;
}

.discount__text {
    /* font-size: 45px; */
    font-size: 2.9rem;
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding: 1.5rem;
}

/* Footer */

.footer {
    background-color: var(--highlight-color-pink);
    display: flex;
    justify-content: center;
}

.site-address {
    margin: 0 1.5rem;
}

.site-hours {
    margin: 0 1.5rem;
}

.social {
    margin: 0 1.5rem;
}

.footer__icon-container {
    display: flex;
    flex-wrap: wrap;
}

.footer__link {
    width: 100%;
    height: 100%;
}

.footer__logo {
    /* width: 50px; */
    width: 3rem;
    margin-right: 0.5rem;
}