/* Elements */

body {
    background-color: var(--primary-color);
}

/* Page wide */

.heading {
    background-color: var(--highlight-color-pink);
}

.heading__logo {
    width: 50px;
    display: inline-block;
}

.heading__title {
    color: var(--primary-color);
    display: inline-block;
    margin: 0;
}

.nav {
    display: inline-block;
}

.nav__list {
    list-style-type: none;
    display: flex; 
    padding: 0;
    margin: 0;
}

.nav__list-item {
    padding: 0;
    padding-left: 20px;
}

.nav__link {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 400;
    font-size: 21px;
}

.nav__link--selected {
    color: var(--highlight-color-blue);
}

/* Header hero */

.hero {
    /* height: 700px; */
    height: 40rem;
}

.hero-image-container {
    height: 100%;
    position: relative;
    justify-content: center;
    overflow: hidden;
    display: flex;
    background-position: center;
    background-size: cover;
    background-repeat: none;
}

.hero-image {
    width: 100%;
    min-width: 50rem;
    position: absolute;
    align-self: center;
}

.hero-textBox {
    /* width: 300px; */
    width: 20%;
    min-width: 13rem;
    /* height: 200px; */
    height: 13rem;
    background-color: var(--primary-color);
    position: absolute;
    z-index: 1;
    align-items: center;
}

.hero-textBox-text {
    color: var(--secondary-color);
    text-align: center;
    vertical-align: top;
    margin-top: 0;
}

/* Header page nav  */

.page-navBar {
    width: 100%;
}

.page-navBar-list {
    list-style-type: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    /* font-size: 21px; */
    font-size: 1.4rem;
    font-weight: 400;
}

.page-navBar a {
    color: var(--secondary-color);
    text-decoration: none;
} 

/* Products */

.product-section {
    text-align: center;
}

.product-section-hotDrinks {
    background-color: var(--highlight-color-pink);
}

.product-section-coldDrinks {
    background-color: #F7F7F7;
}

.product-section-pastries {
    background-color: var(--highlight-color-pink);
}

.product-section-price {
    color: var(--highlight-color-blue);
}

.product-section-text {
    /* font-size: 18px; */
    font-size: 1.2rem;
    font-weight: 400;
    /* max-width: 500px; */
    max-width: 25%;
    min-width: 12rem;
    width: 100%;
    font-style: italic;
    text-align: center;
}