/* Elements */

body {
    background-color: var(--primary-color);
}

/* Page wide */

.font-color-primary {
    color: var(--primary-color);
}

.font-color-secondary {
    color: var(--secondary-color);
}

.font-color-highlight {
    color: var(--highlight-color);
}

.wrapper {
    background-color: var(--secondary-color);
    max-width: 2037px;
    width: 100%;
    margin: 0 auto;
    padding: 0 5px 20px 5px;
}

/* Header site wide nav bar */

.site-navBar-list {
    list-style-type: none;
}

/* Header hero */

.hero {
    position: relative;
    height: 700px;
    overflow: hidden;
    display: flex;
}

.hero-image {
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
    position: absolute;
    align-self: center;
}

.hero-textBox {
    width: 300px;
    height: 200px;
    background-color: var(--primary-color);
    position: absolute;
    z-index: 1;
    align-items: center;
}

.hero-textBox-text {
    color: var(--secondary-color);
    text-align: center;
    vertical-align: top;
    margin-top: 0;
}

/* Header page nav  */

.page-navBar {
    width: 100%;
}

.page-navBar-list {
    list-style-type: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    font-size: 21px;
    font-weight: 400;
}

.page-navBar a {
    color: var(--secondary-color);
    text-decoration: none;
} 

/* Products */

.product-section {
    text-align: center;
}

.product-section-hotDrinks {
    background-color: var(--highlight-color-pink);
}

.product-section-coldDrinks {
    background-color: #F7F7F7;
}

.product-section-pastries {
    background-color: var(--highlight-color-pink);
}

.product-section-price {
    color: var(--highlight-color-blue);
}

.product-section-text {
    font-size: 18px;
    font-weight: 400;
    max-width: 500px;
    width: 100%;
    font-style: italic;
    text-align: center;
}