/* Variable. */
/* Elements. */
h1,
h2 {
  font-size: 3.75rem;
  font-weight: 300;
  margin: 0;
}

h3 {
  font-size: 2.1rem;
  font-weight: 300;
}

p {
  font-size: 1.125rem;
  font-weight: 400;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  margin: 0;
}

/* General class format. */
.bold-text {
  font-weight: 700;
}

/* heading */
.heading {
  background-color: #FFF0ED;
  padding: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
}
.heading__logo {
  width: 3rem;
  display: inline-block;
}
.heading__title {
  color: #393939;
  display: inline-block;
  margin: 0;
  flex-grow: 1;
}

/* nav */
.nav {
  display: inline-block;
}
.nav__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.nav__list-item {
  padding: 0;
  margin-left: 1.25rem;
}
.nav__link {
  text-decoration: none;
  color: #393939;
  font-weight: 400;
  font-size: 1.5rem;
}
.nav__link--selected {
  color: #5BACC3;
}

/* Button */
.container-button {
  position: relative;
  display: inline-block;
  width: 11.25rem;
  height: 2.85rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.container-button__border {
  border: 2px solid #393939;
  box-sizing: border-box;
  width: inherit;
  height: inherit;
  pointer-events: none;
}
.container-button__border--offset {
  position: absolute;
  right: 0.3rem;
  bottom: 0.3rem;
}
.container-button__button {
  background-color: #5BACC3;
  color: #FFF;
  padding: 0.625rem;
  border: none;
  font-size: 1.4rem;
  font-weight: 400;
  width: inherit;
  height: inherit;
}
.container-button__button:active + .container-button__border--offset {
  right: 0rem;
  bottom: 0rem;
}

/* Hero */
.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #FFF0ED;
  width: 100%;
  height: auto;
  padding: 1.25rem 0;
}
.hero__call-to-action {
  width: 30%;
  height: -moz-fit-content;
  height: fit-content;
}
.hero__image {
  height: 90%;
}

/* Products section */
.product {
  background-color: #F7F7F7;
  text-align: center;
  padding: 1.25rem;
}
.product__card-wall {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.product__card {
  min-width: 20.6rem;
  min-height: 27.5rem;
  margin: 1.25rem;
  border-radius: 0.6rem;
  box-shadow: 0 0.3rem 0.6rem -0.063rem rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  background-color: #FFF;
}
.product__img {
  min-height: 17.5rem;
  margin: auto;
}
.product__details {
  background-color: #FFF0ED;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 30%;
}
.product__name {
  margin-top: auto;
  margin-bottom: 0;
  margin-left: 1.25rem;
  text-align: start;
}
.product__price {
  color: #5BACC3;
  font-weight: 700;
  height: 100%;
  align-content: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1.25rem;
}
.product__description {
  color: #909090;
  width: auto;
  text-align: start;
  margin-top: 0;
  margin-bottom: auto;
  margin-left: 1.25rem;
}

.about-use {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 5%;
  margin-bottom: 1.25rem;
}
.about-use__call-to-action {
  width: 30%;
  max-width: 30rem;
  min-width: 20rem;
  align-content: center;
}
.about-use__logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1.25rem;
}
.about-use__logo {
  width: 3rem;
}
.about-use__button {
  margin: 1.25rem 0;
}
.about-use__image-container {
  border: 5px solid #5BACC3;
  width: 20rem;
  height: 26rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  position: relative;
}
.about-use__image-container-background {
  background-image: url(../assets/images/coldbrewbackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: inherit;
  height: inherit;
}
.about-use__image-container-background--offset {
  position: absolute;
  left: 1.25rem;
  top: 1.25rem;
  z-index: -1;
}
.about-use__img {
  height: 17.5rem;
  max-width: 9.6rem;
  position: absolute;
  z-index: 1;
}
@keyframes rotate-inf {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.about-use__img:hover {
  animation: rotate-inf 2s linear infinite;
}

.discount {
  width: 90vw;
  background-color: #393939;
  color: #FFF;
  margin: 10rem auto;
  animation: color-swap 2.5s linear infinite;
}
@keyframes color-swap {
  0% {
    background-color: #393939;
  }
  50% {
    background-color: #5BACC3;
  }
  100% {
    background-color: #393939;
  }
}
.discount__text {
  font-size: 2.8125rem;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 1.25rem;
}

/* Footer */
.footer {
  background-color: #FFF0ED;
  display: flex;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
}
.footer__site-address {
  margin: 0;
}
.footer__site-hours {
  margin: 0;
}
.footer__social {
  margin: 0;
}
.footer__icon-container {
  display: flex;
  flex-wrap: wrap;
}
.footer__link {
  width: 100%;
  height: 100%;
}
.footer__logo {
  width: 3rem;
  margin-right: 0.5rem;
}
.footer__decoration-logo {
  position: absolute;
  align-self: center;
  width: 7.5rem;
  opacity: 25%;
}
.footer__decoration-logo--left {
  left: -6vh;
  top: 1%;
}
.footer__decoration-logo--right {
  right: -6vh;
  bottom: 1%;
}/*# sourceMappingURL=landing.css.map */