@use './partials/global' as *;
@use './partials/variables' as *;
@use './partials/mixins' as *;

/* Hero */

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: $highlight-color-pink;
    width: 100%;
    height: auto;
    padding: $common-padding $no-padding;

    &__call-to-action {
        width: 30%;
        height: fit-content;
    }

    &__image {
        height: 90%;
    }
}

/* Products section */

.product {
    background-color: $neutral-color-light-gray;
    text-align: center;
    padding: $common-padding;

    &__card-wall {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__card {
        min-width: 20.6rem;
        min-height: 27.5rem;
        margin: $common-margin;
        border-radius: 0.6rem;
        box-shadow: 0 0.3rem 0.6rem -0.063rem rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        overflow: hidden;
        background-color: $secondary-color;
    }

    &__img {
        min-height: 17.5rem;
        margin: auto;
    }

    &__details {
        background-color: $highlight-color-pink;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 30%;
    }

    &__name {
        margin-top: auto;
        margin-bottom: $no-margin;
        margin-left: $common-margin;
        text-align: start;
    }

    &__price {
        color: $highlight-color-blue;
        font-weight: $font-weight-heavy;
        height: 100%;
        align-content: center;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: $common-margin;
    }
    
    &__description {
        color: $neutral-color-gray;
        width: auto;
        text-align: start;
        margin-top: $no-margin;
        margin-bottom: auto;
        margin-left: $common-margin
    }
}

.about-use {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-bottom: $common-margin;

    &__call-to-action {
        width: 30%;
        max-width: 30rem;
        min-width: 20rem;
        align-content: center;
    }

    &__logo-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: $common-margin;
    }

    &__logo {
        width: 3rem;
    }

    &__button {
        margin: $common-margin 0;
    }

    &__image-container {
        border: 5px solid $highlight-color-blue;
        width: 20rem;
        height: 26rem;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: content-box;
        position: relative;
    }

    &__image-container-background {
        background-image: url(../assets/images/coldbrewbackground.png);
        background-repeat: no-repeat;
        background-size: cover;
        @include inherit-width-and-height;
        

        &--offset {
            position: absolute;
            left: 1.25rem;
            top: 1.25rem;
            z-index: -1;
        }
    }

    &__img {
        height: 17.5rem;
        max-width: 9.6rem;
        position: absolute;
        z-index: 1;
        @include rotate-inf-on-hover(2s, linear);
    }
}

.discount {
    width: 90vw;
    background-color: $primary-color;
    color: $secondary-color;
    margin: 10rem auto;

    &__text {
        font-size: $font-size-discount;
        font-weight: $font-weight-medium;
        text-align: center;
        margin: $no-margin;
        padding: $common-padding;
    }
}

/* Footer */

.footer {
    background-color: $highlight-color-pink;
    display: flex;
    justify-content: space-around;
    position: relative;
    overflow: hidden;

    &__site-address {
        margin: $no-margin;
    }

    &__site-hours {
        margin: $no-margin;
    }

    &__social {
        margin: $no-margin;
    }

    &__icon-container {
        display: flex;
        flex-wrap: wrap;
    }

    &__link {
        @include full-parent-width-and-height;
    }

    &__logo {
        width: 3rem;
        margin-right: 0.5rem;
    }

    &__decoration-logo {
        position: absolute;
        align-self: center;
        width: 7.5rem;
        opacity: 25%;

        &--left {
            left: -6vh;
            top: 1%;
        }

        &--right {
            right: -6vh;
            bottom: 1%;
        }
    }
}
