@use './partials/global' as *;
@use './partials/variables' as *;
@use './partials/mixins' as *;

/* Header hero */

.hero {
    height: 40rem;
    display: flex;
    justify-content: center;
    align-content: center;

    &__text-box {
        width: 20rem;
        height: 13rem;
        background-color: $primary-color;
        position: absolute;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
    }

    &__text-box-boarder {
        @include inherit-width-and-height;
        position: absolute;
        z-index: 2;
        border: solid 5px $highlight-color-blue;

        &--offset {
            bottom: 0.3125rem;
            right: 0.3125rem;
        }
    }

    &__text-box-text {
        color: $secondary-color;
        text-align: center;
        vertical-align: middle;
        margin-top: 0;
    }

    &__image-container {
        height: 100%;
        position: relative;
        justify-content: center;
        overflow: hidden;
        display: flex;
        background-position: center;
        background-size: cover;
    }

    &__image {
        max-height: 72rem ;
        align-self: center;
    }
}

/* Header page nav  */

.page-nav {
    display: block;
    background-color: $primary-color;

    &__list {
        width: 100%;
        height: 5rem;
        display: flex;
        flex-wrap: wrap;
        font-size: $font-size-button;
        font-weight: $font-weight-medium;
        list-style-type: none;
        color: $secondary-color;
        justify-content: center;
        align-items: center;
        margin: $no-margin;
        padding: $no-padding
    }

    &__list-item {
        padding: 0 1.6rem;
        border-left: solid 4px $highlight-color-blue;
        text-align: center;
    }
    
    &__link {
        color: $secondary-color;
        text-decoration: none;
    } 
}

/* Products */

.product-section {
    text-align: center;

    &__hot-drinks {
        background-color: $highlight-color-pink;
    }

    &__cold-drinks {
        background-color: $neutral-color-light-gray;
    }

    &__pastries {
        background-color: $highlight-color-pink;
    }

    &__category {
        margin: $no-margin;
    }

    &__price {
        color: $highlight-color-blue;
        font-size: $font-size-button;
    }

    &__text {
        font-size: 1.1rem;
        font-weight: $font-weight-medium;
        max-width: 30rem;
        min-width: 12rem;
        width: 100%;
        font-style: italic;
        text-align: center;
        justify-self: center;
    }
}