/* Variable. */
$primary-color: #393939;
$secondary-color: #FFF;
$highlight-color-blue: #5BACC3;
$highlight-color-pink: #FFF0ED;
$neutral-color-light-gray: #F7F7F7;
$neutral-color-gray: #909090;

$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-heavy: 700;

$font-type: 'Open Sans';

$font-size-small: 1.125rem;
$font-size-medium: 2.1rem;
$font-size-large: 3.75rem;

/* Elements. */
h1, 
h2 {
    font-size: $font-size-large;
    font-weight: $font-weight-light;
    margin: 0;
}

h3 {
    font-size: $font-size-medium;
    font-weight: $font-weight-light;
}

p {
    font-size: $font-size-small;
    font-weight: $font-weight-medium;
}

body {
    font-family: $font-type;
    font-weight: $font-weight-medium;
    margin: 0;
}

/* General class format. */

.bold-text {
    font-weight: $font-weight-heavy;
}

/* heading */

.heading {
    background-color: $highlight-color-pink;
    padding: 1rem;
    display: flex; 
    align-items: baseline;
    justify-content: space-between;

    &__logo {
        width: 3rem;
        display: inline-block;
    }

    &__title {
        color: $primary-color;
        display: inline-block;
        margin: 0;
        flex-grow: 1;
    }
}

/* nav */

.nav {
    display: inline-block;

    &__list {
        list-style-type: none;
        display: flex; 
        flex-wrap: wrap;
        padding: 0;
        margin: 0;  
    }

    &__list-item {
        padding: 0;
        margin-left: 1.6rem;
    }

    &__link {
        text-decoration: none;
        color: $primary-color;
        font-weight: $font-weight-medium;
        font-size: 1.5rem;

        &--selected {
            color: $highlight-color-blue;
        }
    }
}

/* Button */

.container-button {
    position: relative;
    display: inline-block;
    width: 11.25rem;
    height: 2.85rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;

    &__border {
        border: 2px solid $primary-color;
        width: inherit;
        height: inherit;
        position: absolute;
        pointer-events: none;
    }

    &__button {
        background-color: $highlight-color-blue;
        color: $secondary-color;
        padding: 0.625rem;
        border: none;
        font-size: 1.4rem;
        font-weight: $font-weight-medium;
        width: inherit;
        height: inherit;

        &--offset {
            position: absolute;
            left: 0.3rem;
            top: 0.3rem;
        }
    }
}
