/* Variable. */
$primary-color: #393939;
$secondary-color: #FFF;
$highlight-color-blue: #5BACC3;
$highlight-color-pink: #FFF0ED;
$neutral-color-light-gray: #F7F7F7;
$neutral-color-gray: #909090;

$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-heavy: 700;

/* Elements. */
h1, 
h2 {
    font-size: 60px;
    font-weight: $font-weight-light;
    margin: 0;
}

h3 {
    font-size: 33px;
    font-weight: $font-weight-light;
}

p {
    font-size: 18px;
    font-weight: $font-weight-medium;
}

body {
    font-family: 'Open Sans';
    font-weight: $font-weight-medium;
    margin: 0;
}

/* General class format. */

.bold-text {
    font-weight: $font-weight-heavy;
}

/* header */

.heading {
    background-color: $highlight-color-pink;
    padding: 1rem;
    display: flex; 
    align-items: baseline;
    justify-content: space-between;
}

.heading__logo {
    width: 3rem;
    display: inline-block;
}

.heading__title {
    color: $primary-color;
    display: inline-block;
    margin: 0;
    flex-grow: 1;
}

/* nav */

.nav {
    display: inline-block;
}

.nav__list {
    list-style-type: none;
    display: flex; 
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.nav__list-item {
    padding: 0;
    margin-left: 1.6rem;
}

.nav__link {
    text-decoration: none;
    color: $primary-color;
    font-weight: 400;
    font-size: 1.5rem;
}

.nav__link--selected {
    color: $highlight-color-blue;
}

/* Button */

.container-button {
    position: relative;
    display: inline-block;
    width: 11.25rem;
    height: 2.85rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.container-button__border {
    border: 2px solid $primary-color;
    width: inherit;
    height: inherit;
    position: absolute;
    pointer-events: none;
}

.container-button__button {
    background-color: $highlight-color-blue;
    color: $secondary-color;
    padding: 0.625rem;
    border: none;
    font-size: 1.4rem;
    font-weight: 400;
    width: inherit;
    height: inherit;
}

.container-button__button--offset {
    position: absolute;
    left: 0.3rem;
    top: 0.3rem;
}