@use './variables' as *;
@use './mixins' as *;

/* Elements. */
h1, 
h2 {
    font-size: $font-size-large;
    font-weight: $font-weight-light;
    margin: $no-margin;
}

h3 {
    font-size: $font-size-medium;
    font-weight: $font-weight-light;
}

p {
    font-size: $font-size-small;
    font-weight: $font-weight-medium;
}

body {
    font-family: $font-type;
    font-weight: $font-weight-medium;
    margin: $no-margin;
}

/* General class format. */

.bold-text {
    font-weight: $font-weight-heavy;
}

/* heading */

.heading {
    background-color: $highlight-color-pink;
    padding: $common-padding;
    @include flex-display-format;
    align-items: baseline;
    justify-content: space-between;

    &__logo {
        width: 3rem;
        display: inline-block;
    }

    &__title {
        color: $primary-color;
        display: inline-block;
        margin: $no-margin;
        flex-grow: 1;
    }
}

/* nav */

.nav {
    display: inline-block;

    &__list {
        list-style-type: none;
        @include flex-display-format;
        padding: $no-padding;
        margin: $no-margin;  
    }

    &__list-item {
        padding: $no-padding;
        margin-left: $common-margin;
    }

    &__link {
        text-decoration: none;
        color: $primary-color;
        font-weight: $font-weight-medium;
        font-size: $font-size-link;

        &--selected {
            color: $highlight-color-blue;
        }
    }
}

/* Button */

.container-button {
    position: relative;
    display: inline-block;
    width: 11.25rem;
    height: 2.85rem;
    margin-top: $common-margin;
    margin-bottom: $common-margin;

    &__border {
        border: 2px solid $primary-color;
        box-sizing: border-box;
        @include inherit-width-and-height;
        pointer-events: none;

        &--offset {
            position: absolute;
            right: 0.3rem;
            bottom: 0.3rem;
        }
    }

    &__button {
        background-color: $highlight-color-blue;
        color: $secondary-color;
        padding: 0.625rem;
        border: none;
        font-size: $font-size-button;
        font-weight: $font-weight-medium;
        @include inherit-width-and-height;
        
        &:active + .container-button__border--offset {
            right: 0rem;
            bottom: 0rem;
        }
    }
}
