@mixin flex-display-format {
    display: flex; 
    flex-wrap: wrap;
}

@mixin flex-display-center {
    @include flex-display-format;
    justify-content: center;
    align-items: center;
}

@mixin flex-display-justify-center {
    @include flex-display-format;
    justify-content: center;
}

@mixin flex-display-align-center {
    @include flex-display-format;
    align-items: center;
}

@mixin inherit-width-and-height {
    width: inherit;
    height: inherit;
}

@mixin full-parent-width-and-height {
    width: 100%;
    height: 100%;
}

@mixin rotate-inf-on-hover($duration: 1s, $velocity: ease-in-out) {
    @keyframes rotate-inf {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    &:hover {
        animation: rotate-inf #{$duration} #{$velocity} infinite;
    }
}