/* Variable. */
$primary-color: #393939;
$secondary-color: #FFF;
$highlight-color-blue: #5BACC3;
$highlight-color-pink: #FFF0ED;
$neutral-color-light-gray: #F7F7F7;
$neutral-color-gray: #909090;

$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-heavy: 700;

$font-type: 'Open Sans';

$font-size-small: 1.125rem;
$font-size-medium: 2.1rem;
$font-size-large: 3.75rem;
$font-size-link: 1.5rem;
$font-size-button: 1.4rem;
$font-size-discount: 2.8125rem;

$no-margin: 0;
$common-margin: 1.25rem;
$no-padding: 0;
$common-padding: 1.25rem;

